{% extends 'template.html' %}

{% block title %}
Get data
{% endblock %}

{% block body %}
<H1>Hello, put your data here</H1>
<br>
<form method="post">
    <input type="text" name="metal_name" id="metal_name" class="form-control" placeholder="Metal name"><br>
    <input type="text" name="metal_prefix" id="metal_prefix" class="form-control" placeholder="Metal prefix"><br>
    <input type="text" name="metal_price" id="metal_price" class="form-control" placeholder="Metal price"><br>
    <input type="submit" class="btn btn-success" value="SEND">
</form>
{% endblock %}