{% extends 'template.html' %}

{% block title %}
App of quotations of precious metals
{% endblock %}

{% block body %}
<H1>Oh, a miracle it works!</H1><br>
current data on: {{ today.month, today.year }}
<table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>Metal</th>
        <th>Rate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Aurum</td>
        <td>{{ au_s }}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Argentum</td>
        <td>{{ ag_s }}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Platinum</td>
        <td>{{ pt_s }}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Palladium</td>
        <td>{{ pd_s }}</td>
      </tr>
    </tbody>
  </table>

<h2>Load from URL XML</h2>
<form method="post">
    <input type="submit" class="btn btn-success" value="LOAD">
</form>

{% endblock %}