{% extends 'template.html' %}

{% block title %}
View quotations of precious metals
{% endblock %}

{% block body %}
    <H1>View all data</H1>
    {% for el in data_list %}
        <div class="alert alert-info">
            <h2>{{ el.name }}</h2>
            <h2>{{ el.prefix }}</h2>
            <h2>{{ el.price }}</h2>
            <h2>{{ el.date }}</h2>
        </div>
    {% endfor %}

{% endblock %}